@import url(./Styles/header.css);
@import url(Styles/banner.css);
:root {
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;

    }

    body {
        background-color:var(--cor-de-fundo)
    }

   

   